#back { 
   font-family: Arial;
   font-weight: bold;
   background-image: url("back_pic.jpg");
   background-repeat: no-repeat;
   background-size: 100% 100%;

   height: 100vh;
   width: 100vw;
}

header {
    background-color: transparent;
    color: white;
    display: flex;
    justify-content: space-around;
    padding: 2%;

    width: 60%;
    
}

img {
    height: 40px;
    width: 400px;
}
